<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user}}, Todo List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <style>
      .line-through {
        text-decoration: line-through;
        text-decoration-thickness: 0.15rem;
      }
      .rotate {
        transform: rotate(180deg);
      }

      .panel {
        display: none;
        position: absolute;
        z-index: 1;
      }

      .panel.active {
        display: block;
      }
      .logout {
        position: absolute;
        top: 0;
        right: 50px;
        margin: 1rem;
      }
    </style>
  </head>
  <body class="bg-purple-700 pt-8 pl-40 pr-40">
    <a
      href="{% url 'todo:signout' %}"
      class="text-sm text-center font-bold mt-6 text-white bg-red-700 hover:bg-red-900 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
      style="position: absolute; top: 0; right: 50px; margin: 1rem"
      >Log Out</a
    >

    <h1 class="text-3xl font-bold text-white text-center mt-4">
      Todo list App
    </h1>
    <div class="bg-purple-900 p-4 mt-10 shadow-2xl">
      <div class="anca flex justify-between items-center">
        <h1 class="text-3xl font-bold text-white text-left mt-4">
          नमस्ते {{user}},
        </h1>
      </div>

      <form method="POST">
        {%csrf_token%}
        <div class="flex justify-center mt-10">
          <input
            class="p-2 rounded-l-lg border-t mr-0 border-b border-l text-gray-800 bg-white w-full max-w-xl font-bold"
            type="text"
            placeholder="Add your todo"
            name="title"
            required
          />
          <div class="mr-4">
            <select
              id="priority"
              name="priority"
              class="p-3 w-30 bg-gradient-to-r from-red-600 to-red-500 text-white font-bold text-lg outline-none"
            >
              <option class="text-black font-bold" value="0">Priority</option>
              <option class="text-black font-bold" value="0">Low</option>
              <option class="text-black font-bold" value="1">Medium</option>
              <option class="text-black font-bold" value="2">High</option>
            </select>
          </div>
          <button
            class="submit-button px-6 py-3 bg-gradient-to-r from-purple-600 to-purple-400 text-white font-bold rounded-l-full rounded-r-full shadow-lg transform transition-transform duration-300 hover:scale-105"
            type="
          submit"
          >
            Add Task
          </button>
        </div>
      </form>

      <div class="container mx-auto p-4">
        <div class="shadow-md rounded-lg overflow-hidden mb-6">
          <div class="flex bg-purple-500 justify-between text-white">
            <div class="p-2 w-2/5 font-bold">Task</div>
            <div class="p-2 w-1/6 font-bold">Priority</div>
            <div class="p-2 w-1/6 font-bold">Updated Date</div>
            <div class="p-2 w-1/6 font-bold">Updated Time</div>

            <div class="p-2 w-1/6 font-bold">Action</div>
          </div>
        </div>
        {%for todo in res%}
        <div class="shadow-md rounded-lg overflow-hidden mb-6">
          <div class="bg-white flex justify-between mt-2 text-item">
            <div class="p-2 w-2/5 font-bold ml-2 task-text" id="taskText">
              {{todo.title}}
            </div>
            <div class="p-2 w-1/6">{{ todo.get_priority_display }}</div>
            <div class="p-2 w-1/6">{{ todo.updatedAt|date:"D, d M Y" }}</div>
            <div class="p-2 w-1/6 ml-5">{{ todo.updatedAt|time:"H:i:s" }}</div>

            <div class="p-2 w-1/6">
              <a href="/editTodo/{{todo.srno}}">
                <i class="fa-solid fa-pen-to-square text-xl ml-4"></i>
              </a>
              <a href="/deleteTodo/{{todo.srno}}" class="ml-2">
                <i class="fa-solid fa-trash text-red-500 text-xl"> </i>
              </a>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </body>
</html>
